@model Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTeacher)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Teachers" asp-action="Details" asp-route-id="@Model.FirstTeacherId">@Html.DisplayFor(ModelItem => Model.FirstTeacher.FullName)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondTeacher)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Teachers" asp-action="Details" asp-route-id="@Model.SecondTeacherId">@Html.DisplayFor(ModelItem => Model.SecondTeacher.FullName)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Enrolled Students")
        </dt>
        <dd class="col-sm-10">
            @foreach (var e in Model.Enrollments)
            {
                if (e.FinishDate == null)
                {
                    <a asp-controller="Enrollments" asp-action="Details" asp-route-id="@e.Id">
                        @Html.DisplayFor(modelItem => e.Student.FullName)
                    </a>
                    <br />
                }
            }
        </dd>
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10">
            <a class="btn btn-success" style="min-width: 19%;" asp-controller="Enrollments" asp-action="">Add Enrollments</a>
        </dd>
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10">
            <a class="btn btn-info" style="min-width: 19%; color: white" asp-controller="Enrollments" asp-action="" asp-route-courseId="@Model.Id">Unenroll Students</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
